@import url(variables.css);


.blog-content {
  font-size: 18px;
  line-height: 1.5;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

.blog-description {
  font-size: 14px;
  color: var(--subtle-text);
}

.blog-intent {
  font-size: 14px;
  color: var(--important-text);
}

.blog-card {
	padding: .75 rem 1.25rem;
	margin-bottom: 1.25rem;
	background-color: var(--primary-panel-color);
	border-radius: .85rem;
	border: 1px solid var(--primary-border);
}

.blog-library {
	display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    place-items: center;
    padding: 1rem;
}